.card {
    width: 500px!important;
    margin: auto;
}

.text-input {
    width: 80%;
}

.uploadButtonStyle {
	align-self: flex-start;
	position: relative;
}

.file {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.profileButton {
	position: absolute;
	z-index: 9;
	cursor: move;
  }